.App {
  position: absolute;
  background-image: linear-gradient(
    to left bottom,
    #efc4ad,
    #d0bd98,
    #adb58f,
    #89ac90,
    #69a196
  );
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
  font-size: 16px;
  display: grid;
  grid-template-rows: minmax(60px, 80px) 1fr minmax(40px, 60px);
}
