.App {
  position: absolute;
  background-image: linear-gradient(
    to left bottom,
    #efc4ad,
    #d0bd98,
    #adb58f,
    #89ac90,
    #69a196
  );
  min-width: 100%;
  min-height: 100%;
  font-size: 15px;
  display: grid;
  grid-template-rows: 1fr 9fr;
}
