html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  background: #dad299; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: minmax(60px, 80px) 1fr 50px;
}
