@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.ProseMirror > * {
  color: black;
}

.my-editor a,
.my-editor a:visited {
  text-decoration: none;
  position: relative;
  color: #1866d1;
}

.my-editor a:hover {
  cursor: pointer;
}

.my-editor .my-custom-blockquote {
  font-size: 1.3em;
  width: 60%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1em 1em 1em 75px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  z-index: 1;
  background: #ededed;
}

.my-editor .my-custom-blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

.my-custom-blockquote::after {
  content: "";
}

.my-custom-blockquote > h3 {
  font-size: 1.3em;
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
  text-align: right;
}
.my-editor .my-image-class {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my-image-class.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}
.my-editor .image-small {
  min-width: 10%;
  max-width: 35%;
}
.my-editor .image-medium {
  min-width: 35%;
  max-width: 55%;
  max-height: 400px;
}
.my-editor .image-large {
  min-width: 75%;
  max-height: 500px;
  max-width: 100%;
}
.my-editor .my-custom-horizontal-rule {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 2px;
  background-color: #ccc;
  border-radius: 20px;
}
.ProseMirror > * + * {
  margin-top: 0.75em;
}
.my-editor p {
  line-break: auto;
}
.my-editor {
  display: block;
  position: relative;
  padding: 1em;
  padding-bottom: 2em;
  width: calc(100%-2em);
  max-width: 90vw;
  min-height: 100px;
  margin: 0 auto;
  line-break: auto;
}
.my-editor:focus {
  outline: none;
}
.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1em;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.ProseMirror pre > code {
  color: inherit;
  padding: 0;
  background: none;
  width: 100%;
  font-size: 0.8em;
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2em 0;
}
button.is-editor-active {
  color: red;
}
@media only screen and (max-width: 600px) {
  .my-editor {
    width: 82vw;
    font-size: small;
  }
}

.editor-container {
  width: 100%;
}
.editor-container--subcontainer {
  border: 2px solid #b7c2d5;
  border-top: 0px;
  border-radius: 0 0 0.75em 0.75em;
}
.bubble-menu {
  z-index: 2 !important;
}
.bubble-menu > button {
  outline: none;
  border: none;
  color: #565d63;
  font-size: 1em;
  padding: 5px;
  background-color: #ccc;
}
.bubble-menu > button:hover {
  background-color: #b7c2d5;
  color: #304fd0;
}
