.menu-container {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #f8f9fa;
  width: 100%;
  border: 2px solid #b7c2d5;
  border-radius: 0.75rem 0.75rem 0 0;
  box-shadow: #fff 0px -5px 0px 5px;
  z-index: var(--zFloat);
}
