.dropzone {
  width: 100%;
  min-height: 50px;
  margin-top: 1rem;
  border: 2px dashed red;
}
.title-image {
  width: 95%;
  max-height: 500px;
  display: block;
  margin: 2em auto;
  object-fit: cover;
}
.container {
  width: 100%;
  margin-bottom: 1em;
}
