
.avatar-container {
  position: relative;
}
.user__image {
  position: sticky;
  display: block;
  margin: auto 0;
  top: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.user__avatar--words {
  cursor: pointer;
  position: sticky;
  display: block;
  margin: auto 0;
  top: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.text-container {
  flex-grow: 1;
  min-height: 40px;
  background-color: #c1d1d1;
}
.text-container > p {
  margin-top: 1rem;
  line-break: strict;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.text-container small {
  display: block;
  text-align: right;
  padding: 0.5rem;
}
