.main-container {
  width: 95%;
  min-height: 100vh;
  display: block;
  margin: 0 auto;
  max-width: 2400px;
  background-color: #fef7ff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
