.card img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.2s ease;
}
.card {
  display: flex;
  text-decoration: none;
  color: inherit;
  flex-direction: column;
  width: clamp(16rem, calc(250px + 5vw), 25rem);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}
.card__header {
  overflow: hidden;
  height: 50%;
}
.card .card__image {
  width: 100%;
  height: 100%;
}
.card:hover .card__image {
  transform: scale(1.1);
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.user h5:hover {
  color: rgb(42, 42, 143);
}
.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}
.user a {
  text-decoration: none;
}
.user h5:hover {
  color: rgb(42, 42, 143);
}
.user__image {
  display: block;
  margin: auto 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user__info {
  display: inline-block;
}

.user__info > small {
  color: #666;
}
.post__info {
  display: flex;
  flex-direction: column;
}
.user__avatar--words {
  display: block;
  margin: auto 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
